
thisOne/.idea/dataSources/20a74293-24ea-4dd6-99d2-00138d372db5.xml
thisOne/.idea/dataSources/b15cfb3b-30c8-488a-aa74-5c598dfc6a04.xml
thisOne/.idea/dataSources/b15cfb3b-30c8-488a-aa74-5c598dfc6a04.xml
thisOne/.idea/dataSources/b15cfb3b-30c8-488a-aa74-5c598dfc6a04/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
thisOne/.idea/dataSources/b15cfb3b-30c8-488a-aa74-5c598dfc6a04/storage_v2/_src_/schema/salesboard.Wm2WZg.meta
thisOne/.idea/dataSources/b15cfb3b-30c8-488a-aa74-5c598dfc6a04/storage_v2/_src_/schema/testdb.kHS3yw.meta
