/* Style the body */
body
{
  font-family: Arial;
  margin: 0;
  background-color: #3bbfc3;
}

/* Header/Logo Title */
.header 
{
  padding: 60px;
  text-align: center;
  background: #292b2f;
  color: #d7d5d9;
  font-size: 30px;
}

h1.content 
{
color: #292b2f;
}

body
{
   background:#a5b5c5;
   background:lightblue !important;
}

.box
{
   background: #40af93;
   border-radius: 4px;
   transition: transform .2s; /* Animation */
}

.box:hover 
{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.col-lg-2, .col-md-3, .col-xs-6
{
    margin-top: 30px !important;
}

img 
{
width: 100%;
height: 100%;
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: filter .5;
backface-visibility: hidden;
-webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
filter: blur(0px);
}
img:hover 
{
  opacity: 0.5;
}
.content
{
padding: 20px;
background: #3bbfc3;
}